<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home - Dishcovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .column {
            flex: 50%;
            padding: 10px;
        }

        .content {
            padding: 40px;
        }

        .center-text {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="navbar-top">
            <h1>Dishcovery</h1>
            <p>Every meal is a discovery</p>
        </div>
        <a class="active" href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/sign_up">Sign Up</a>
        <a href="/contact_us">Contact Us</a>
    </div>

    <hr />

    <div class="content">
        <table style="width: 100%; border-collapse: separate; border-spacing: 15px;">
            <tr>
            <td style="width: 33.33%; background-color: #ddd5ca; text-align: center; padding: 20px;">
            <img src="static/dish-1.png" style="max-width: 100%; height: auto; margin-bottom: 10px;">
            <div class="key">BAKERY, Salad</div>
            <br>
            <h3>Egg and Green Bowl Salad</h3>
            <p>By Alex Misty</p>
            </td>
            <td style="width: 33.33%; background-color: #ddd5ca; text-align: center; padding: 20px;">
            <img src="static/dish-2.png" style="max-width: 100%; height: auto; margin-bottom: 10px;">
            <div class="key">Appetizer, Drinks</div>
            <h3>Grapefruit Cocktails</h3>
            <p>By Alex Misty</p>
            </td>
            <td style="width: 33.33%; background-color: #ddd5ca; text-align: center; padding: 20px;">
            <img src="static/dish-3.png" style="max-width: 100%; height: auto; margin-bottom: 10px;">
            <div class="key">Dinner</div>
            <h3>Mushroom Chicken</h3>
            <p>By Alex Misty</p>
            </td>
            </tr>
        </table>
    </div>
    <br>
    <p>
        Now, we've properly established as a business. From the comfort of your home, you can order delicious and
        quality home-made food from your neighbours. We've made it easy for you to order food from your local
        households, and we've made it easy for the home chefs to make money from their cooking, without spending any
        extra effort!
    </p>
    <p>
        Our goal is that everyone can effortlessly make money from their cooking, without the hassle associated with
        setting up a restaurant. You can either cook part of your meal and purchase the rest from our many
        restaurants, or you can purchase the entire meal yourself. It's up to you!
    </p>
    <p>
        Do note that there is no delivery service, so you will have to pick up your food from the home chef's house.
    </p>
    <p>
        We hope you enjoy your experience with Dishcovery! To sign up, click <a href="/sign_up">here</a>.
    </p>
    <p>
        If you have any questions, don't hesitate to contact us through our <a href="/contact_us">online form</a>.
    </p>
    </div>

    <div id="snackbar"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% if alert %}
    <script>
        notify("{{ alert }}");
    </script>
    {% endif %}
</body>

</html>