<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Login - Dishcovery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="navbar-top">
        <h1>Dishcovery</h1>
        <p>Every meal is a discovery</p>
    </div>

    <a href="/">Home</a>
    <a class="active" href="/login">Login</a>
    <a href="/sign_up">Sign Up</a>
    <a href="/contact_us">Contact Us</a>
</div>
<hr />
<br><br>
<center>
    <div class="card">
        <h1>Login to Dishcovery</h1>
        <div class="container">
            <form method="POST" action="/login">
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <p><input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/></p>
                <table border=0 cellspacing=10 align="center" style="text-align: left;">
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" name="email" required autofocus size="30"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" required size="30"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" name="keep_me_logged_in" checked> Keep me Logged In</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="button hovereffect">Sign In</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><a href="{{ url_for('sign_up_page') }}">Sign Up</a></td>
                        <td style="text-align: center;"><a href="{{ url_for('reset_password_page') }}">Reset
                            Password</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</center>
<div id="snackbar"></div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
